---
---
@import "minima";

/* Only apply these rules if the user's device is in Dark Mode */
@media (prefers-color-scheme: dark) {
  
  body {
    background-color: #222;
    color: #eee;
  }

  a, .site-title, .site-title:visited, .page-link {
    color: #5aa9e6 !important;
  }

  .site-footer {
    border-top: 1px solid #444;
  }
  .footer-heading {
    color: #eee;
  }

  pre, code {
    background-color: #333;
    border: 1px solid #444;
    color: #eee;
  }
  .highlighter-rouge .highlight {
    background-color: #333;
  }

  table th, table td {
    border: 1px solid #444;
  }

  blockquote {
    color: #aaa;
    border-left: 4px solid #555;
  }

  .post-meta {
    color: #aaa;
  }
}
